使用joingquant试用版本作为数据来源

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import akshare as ak
from jqdatasdk import *
auth('18800192008','Abc123456')

auth success

In [9]:
#stock_ls=['601169','601328']
#stock_ls=['601939','601998','601658']
stock_ls=['600036','601988']
stock_ls=normalize_code(stock_ls)
stock_ls

['600036.XSHG', '601988.XSHG']

In [12]:
get_query_count()

{'total': 1000000, 'spare': 97414}

In [10]:
predf=get_price(stock_ls, start_date='2019-01-1 9:00:00', end_date='2022-04-18 14:00:00', frequency='1m', fields=None, skip_paused=True, fq='pre', count=None, panel=False, fill_paused=True)

In [11]:
predf

,time,code,open,close,high,low,volume,money
0,2019-01-02 09:31:00,600036.XSHG,23.17,23.17,23.20,23.12,1546938.0,35838679.0
1,2019-01-02 09:32:00,600036.XSHG,23.19,23.14,23.19,23.10,833017.0,19280192.0
2,2019-01-02 09:33:00,600036.XSHG,23.14,23.16,23.20,23.09,421231.0,9745884.0
3,2019-01-02 09:34:00,600036.XSHG,23.18,23.13,23.18,23.08,409289.0,9466264.0
4,2019-01-02 09:35:00,600036.XSHG,23.10,23.06,23.12,23.06,400712.0,9253312.0
...,...,...,...,...,...,...,...,...
382915,2022-04-18 13:56:00,601988.XSHG,3.23,3.23,3.23,3.22,346400.0,1116504.0
382916,2022-04-18 13:57:00,601988.XSHG,3.22,3.23,3.23,3.22,384600.0,1238763.0
382917,2022-04-18 13:58:00,601988.XSHG,3.22,3.23,3.23,3.22,438300.0,1412829.0
382918,2022-04-18 13:59:00,601988.XSHG,3.22,3.22,3.23,3.22,282500.0,910171.0
382919,2022-04-18 14:00:00,601988.XSHG,3.22,3.23,3.23,3.22,448900.0,1446213.0

In [13]:
predf.to_excel('pair_trading_rawdata_4.xlsx')
print('success')

success